/data.csv
/lib
/LICENSE.txt
/pkgs
/Python
/responses.csv
/sfu_best_cmpt120.csv
/spyder.ico
/Spyder.launch.pyw
/temp.py
/uninstall.exe
/Unit 2. 100 While Loop Handout.docx
/untitled0.py
/untitled1.py
/untitled3.py
/untitled4.py
/untitled5.py
/untitled6.py
/untitled8.py
/_user_install_marker